In [1]:
import numpy as np
import pandas as pd
from sklearn import linear_model

In [2]:
df = pd.read_csv("homeprices.csv")

In [3]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [6]:
df.bedrooms.median()

4.0

In [9]:
df.bedrooms = df.bedrooms.fillna(df.bedrooms.median())

In [10]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [13]:
reg = linear_model.LinearRegression()
reg

LinearRegression()

In [14]:
reg.fit(df.drop("price" , axis = "columns"),df.price)

LinearRegression()

In [18]:
reg.predict([[3000 , 4 , 10]])

C:\Users\User\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([618748.66891723])

In [19]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [20]:
reg.intercept_

221323.00186540425

In [21]:
112.06244194*3000 +  23388.88007794*4 - 3231.71790863*10 + 221323.00186540425

618748.6689108643